
.container-edit-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-form__form{
     width: 37.5rem;
    padding: 0.75rem;
    border: 1px solid var(--color-neutral-gray-50);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}