.filtro-form__form{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
}
.filtro-form__field{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.filtro-form__input{
    height: 52px;
    max-width: 50px;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #EBEBEB;
    background: #F7F7F7;
    transition: all 0.3s ease;
    text-align: center;
}

/* Media queries para dispositivos móviles */
@media (max-width: 500px) {
    .menu__title{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .menu__subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .filtro-form__form{
        align-items: flex-end;
        flex-direction: column;
    } 
}