.contact-form__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form__field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form__input{
    min-height: 3.25rem;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #EBEBEB;
    background: #F7F7F7;
}