.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 48rem;
    margin-top: -64px;
    position: relative;
    overflow: hidden;
}

.banner__image-container, 
.banner__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner__image {
    width: 100%;
    height: auto;
    max-height: 48rem;
    object-fit: cover;
}

.banner__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.banner__content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: var(--container-inner-width);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.banner__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.banner__title, 
.banner__subtitle, 
.banner__description {
    margin: 0;
    color: var(--color-neutral-white);
}

.banner__description {
    font-weight: var(--font-weight-light);
}

@media (max-width: 1200px) {
    .banner__image {
        min-height: 37.5rem;
    }
}

@media (max-width: 430px) {
    .banner__content {
        top: 50%;
        gap: 1.5rem;
        padding: 6rem 1.5rem 1.5rem 1.5rem;
    }

    .banner__title {
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .banner__subtitle {
        font-size: var(--line-height-m);
        line-height: 1.8rem;
        text-align: center;
        font-weight: var(--font-weight-regular);
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

