.modal_title {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.modal__header-custom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    padding: 0;
}

.father-space{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.child-space{
    gap: 24px;
}

.card-space{
    gap: 24px;
}


.modal__separator--line {
    width: 100%;  /* O usa flex-grow si está dentro de un flexbox */
    height: 1px; /* Grosor de la línea */
    background-color: var(--gray-color, #ccc); /* Define un gris neutro */
    border: none; /* Elimina el borde si lo tenías antes */
}

.plan-name__description{
    font-size: 20px !important;
    color: var(--text-color) !important;
}