.why-choose__image img {
    width: 100%;
    max-width: 700px;
    max-height: 700px;
}

.why-choose__title {
    font-size: var(--font-size-xl);
    line-height: 64px;
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.why-choose__subtitle {
    font-size: 56px;
    line-height: 64px;
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-gray-800);
}

.why-choose__text {
    margin: 0;
}

.why-choose__benefit {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.why-choose__content--personalized,
.why-choose__content--shopping-lists {
    text-align: left;
}

.why-choose__content--weekly-meals {
    text-align: right;
}

/* Media queries para dispositivos móviles */
@media (max-width: 1000px) {
    .why-choose__title {
        font-size: 32px;
        line-height: 40px;
    }

    .why-choose__subtitle {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 768px) {
    .why-choose__benefit {
        flex-direction: column;
    }

    .why-choose__content--personalized,
    .why-choose__content--shopping-lists,
    .why-choose__content--weekly-meals {
        text-align: center;
    }

    .why-choose__benefit--weekly-meals {
        flex-direction: column-reverse;
    }

    .why-choose__image img {
        max-width: 100%;
    }
}