.why-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-xxxlarge);  /* 60px */
    margin-bottom: var(--margin-xxxlarge);  /* 60px */
    gap: var(--gap-xxlarge);  /* 60px */
}

.why-choose__description {
    font-size: var(--font-size-m);  /* 20px */
}

.why-choose__image img {
    width: 100%;
    max-width: var(--width-button);  /* 700px */
    max-height: var(--width-button); /* 700px */
}

.why-choose__title {
    font-size: var(--font-size-xl);  /* 51px */
    font-weight: var(--font-weight-regular);  /* 400 */
    color: var(--primary-color);  /* #8A42FB */
    margin: 0;
}

.why-choose__subtitle {
    font-size: var(--font-size-xl);  /* 51px */
    font-weight: var(--font-weight-regular);  /* 400 */
    color: var(--color-neutral-gray-800);  /* #343434 */
}

.why-choose__text {
    margin: 0;
    font-weight: var(--font-weight-regular);  /* 400 */
    font-size: var(--font-size-s);  /* 18px */
}

.why-choose__benefit {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.why-choose__content--personalized,
.why-choose__content--shopping-lists {
    text-align: left;
}

.why-choose__content--weekly-meals {
    text-align: right;
}

.why-choose__title--footer {
    font-size: var(--font-size-xl);  /* 51px */
    color: var(--color-neutral-gray-800);  /* #343434 */
    font-weight: var(--font-weight-regular);  /* 400 */
}

/* Media queries para dispositivos móviles */
@media (max-width: 1000px) {
    .why-choose__title,
    .why-choose__title--footer {
        font-size: var(--font-size-l);  /* 24px */
    }

    .why-choose__subtitle {
        font-size: var(--font-size-m);  /* 20px */
    }
}

@media (max-width: 768px) {
    .why-choose {
        margin-top: var(--margin-large);  /* 24px */
        margin-bottom: var(--margin-large);  /* 24px */
        gap: var(--gap-xlarge);  /* 40px */
    }

    .why-choose__benefit {
        flex-direction: column;
    }

    .why-choose__description {
        font-size: var(--font-size-m);  /* 20px */
    }

    .why-choose__content--personalized,
    .why-choose__content--shopping-lists,
    .why-choose__content--weekly-meals {
        text-align: center;
    }

    .why-choose__benefit--weekly-meals {
        flex-direction: column-reverse;
    }

    .why-choose__image img {
        max-width: 100%;
    }

    .why-choose__description,
    .why-choose__text {
        font-size: var(--font-size-xs);  /* 14px */
        font-weight: var(--font-weight-regular);  /* 400 */
    }
}